.benefits {
  &__item {
    display: inline-block;
    img {
      width: 40px;
      height: 40px;
      display: block;
      margin-bottom: 12px;
    }
    span {
      font-size: 14px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.75);
    }
  }
  @media (max-width: $sizeMaxMobile) {
    margin: 0 -20px;
    padding: 0 20px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    &__item {
      white-space: normal;
      & + & {
        max-width: 240px;
        margin-left: 16px;
      }
    }
  }
  @media (min-width: $sizeTablet) {
    margin-right: -10%;
    &__item {
      max-width: 212px;
      margin-right: 24px;
      margin-bottom: 28px;
      img {
        margin-bottom: 15px;
      }
    }
  }
}
