.benefits {
  &__item {
    display: inline-block;
    vertical-align: top;
    img {
      width: 40px;
      height: 40px;
      display: block;
    }
    span {
      font-size: 14px;
      line-height: 20px;
    }
    &--hall-conference {
      img {
        margin-bottom: 12px;
      }
      span {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &--services {
      span {
        color: #828282;
      }
    }
  }
  &__title {
    font-family: GothamPro;
    font-weight: 500;
    margin-bottom: 4px;
  }
  @media (max-width: $sizeMaxMobile) {
    margin: 0 -20px;
    padding: 0 20px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    &__item {
      white-space: normal;
      max-width: 240px;
      & + & {
        margin-left: 16px;
      }
    }
  }
  @media (min-width: $sizeTablet) {
    &__item {
      &--hall-conference {
        max-width: 212px;
        margin-right: 24px;
        margin-bottom: 28px;
        img {
          margin-bottom: 11px;
        }
      }
      &--services {
        max-width: 328px;
        margin-bottom: 24px;
        &:nth-child(2n) {
          margin-left: 32px;
        }
      }
    }
  }
  @media (max-width: $sizeMaxTablet) {
    &__item {
      &--services {
        img {
          margin-bottom: 16px;
        }
      }
    }
  }
  @media (min-width: $sizeDesktop) {
    &__info {
      max-width: 82%;
      display: inline-block;
      vertical-align: middle;
    }
    &__item {
      &--hall-conference {
        max-width: 208px;
        margin-right: 24px;
        margin-bottom: 32px;
        img {
          margin-bottom: 12px;
        }
      }
      &--services {
        white-space: normal;
        max-width: 100%;
        &:nth-child(2n) {
          margin-left: 0;
        }
        img {
          display: inline-block;
          margin-right: 24px;
          vertical-align: middle;
        }
      }
    }
  }
}
