.button {
  font-family: GothamPro;
  cursor: pointer;
  border: 0;
  color: #e0e0e0;

  span {
    font-weight: 500;
    margin-left: 10px;
  }

  &--primary {
    font-size: 16px;
    line-height: 24px;
  }
  &--secondary {
    font-size: 12px;
    line-height: 16px;
  }
  &--size {
    &-big {
      padding: 14px 24px;
    }
    &-medium {
      padding: 8px 16px;
    }
  }
  &--color {
    &-white {
      position: relative;
      background-color: #fff;
      color: #121212;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 1px solid #e0e0e0;
        z-index: 2;
      }
      
    }
    &-black {
      background-color: #121212;
      color: #fff;
      border: 1px solid #828282;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: $sizeTablet) {
  .button {
    span {
      margin-left: 47px;
    }
    &--color{
      &-white{

        &:hover {
          background: #f2f2f2;
          &::before {
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
          }
        }
      }
    }
  }
}

@media (min-width: $sizeDesktop) {
  .button {
    &--size{
      &-medium{
        padding: 12px 20px;
      }
    }
  }
}
