.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  &__line {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 12px;
    height: 1px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:last-child {
      top: 60%;
    }
  }
  &_active .hamburger__line{
    top: 50%;
  }
  &_active .hamburger__line:first-child {
    transform:rotate(45deg);
  }
  &_active .hamburger__line:last-child {
    transform:rotate(-45deg);
  }
}
