.select {
  position: relative;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
  min-width: 45px;
  &__current {
    &::after {
      display: inline-block;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../images/header/select_arrow.svg);
      vertical-align: middle;
    }
  }
  &__header {
    cursor: pointer;
    display: inline-block;
    &:hover {
      color: #fff;
    }
  }
  &__list {
    display: none;
    top: -9px;
    left: -9px;
    position: absolute;
    background: inherit;
    border: 1px solid #272727;
    box-shadow: 0 0 0.83333rem hsl(0deg 0% 100% / 4%);
    min-width: 51px;
    background-color: #121212;
  }
  &__item {
    cursor: pointer;
    padding: 0 8px 6px;
    &:first-child{
      padding-top: 8px;
    }
    & + & {
      padding-top: 6px;
    }
    &:hover {
      color: #fff;
    }
  }

  &.active {
    .select__list {
      display: block;
    }
  }
}
