@font-face {
  font-family: GothamPro;
  src: url('../fonts/gothampro.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: GothamPro;
  src: url('../fonts/gothampro_bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: GothamPro;
  src: url('../fonts/gothampro_medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Icomoon;
  src: url('../fonts/icomoon.ttf') format('truetype');
}

