
.hamburger{		
	cursor: pointer;
	&__wrapper{
		width: 40px;
		height: 40px;
		padding-top: 16px;
		padding-left: 14px;
	}
	&__line{
		display: block;
		width: 12px;
		height: 1.4px;
		background-color: #F2F2F2;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:first-child{
			margin-bottom: 4px;
		}
	}
	&_active .hamburger__line:first-child{
		transform: translateY(2.5px) rotate(45deg);
	}
	&_active .hamburger__line:last-child{
		transform: translateY(-2.5px) rotate(-45deg);
	}
}

@media (min-width:$sizeDesktop) {
	.hamburger{
		display: none;
	}
	
}
