.select {
  position: relative;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
  &__current {
    &::after {
      display: inline-block;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../images/select_arrow.svg);
      vertical-align: middle;
    }
  }
  &__header {
    cursor: pointer;
    display: inline-block;
    &:hover {
      color: #fff;
    }
  }
  &__list {
    display: none;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    background: inherit;
    border: 1px solid #272727;
    box-shadow: 0 0 0.83333rem hsl(0deg 0% 100% / 4%);
    padding: 8px;
    width: 51px;
    background-color: #121212;
  }
  &__item {
    cursor: pointer;
    margin-bottom: 12px;
    &:hover {
      color: #fff;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.select.active {
  .select__list {
    top: -9px;
    left: -9px;
    display: block;
  }
}
