.title{
	font-family: Merriweather;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	background: linear-gradient(180deg, #F2F2F2 0%, #BDBDBD 100%);
	background-clip: text;
	color: transparent;
	&--color-black{
		color:  #121212;
	}
	&--color-white{
		color: #fff;
	}
	& span {
		color: #BDBDBD;	
	}
  }

  @media (min-width:$sizeTablet) {
	.title{
		font-size: 32px;
		line-height: 42px;
	}	  
  }

  @media (min-width:$sizeDesktop) {
	.title{
		font-size: 40px;
		line-height: 52px;
	}	  
  }