section.about
    .about__decoration
        img(src="../images/about/border.svg", alt="border")
    .container.about__container
        .about__item
            .about__photo.about__photo--left
                img(src="../images/about/about1.png", alt="photo")
            .about__info.about__info--right
                h3.title.title--color-black.title--size-medium.about__title Уникальность
                .text.text--size-medium.text--color-gray.about__text
                    p Визуальный стиль отеля идеально подходит как для комфортного проживания, так и&nbsp;для проведения мероприятий любого уровня в&nbsp;конференц-&nbsp;залах
        .about__item
            .about__photo.about__photo--right
                img(src="../images/about/about2.png", alt="photo")
            .about__info.about__info--left
                h3.title.title--color-black.title--size-medium.about__title Творческий центр Минска
                .text.text--size-medium.text--color-gray
                    p Отель находится на пересечении улиц Ленина и&nbsp;Октябрьской. Это&nbsp;место окружают самые интересные бары, рестораны, арт-пространства и&nbsp;ночные клубы&nbsp;— все&nbsp;то, что так притягивает самых интересных и&nbsp;прогрессивных людей
                button.button.button--primary.button--size-big.button--color-white.about__button Посмотреть на карте



