main.about
	.container.about__top
		h2(class="title about__title title--size-big title--color-white") Отель мечты в&nbsp;центре&nbsp;Минска
	.container.about__bottom
		.about__image
			img(src="../images/about/hotel.png", alt="hotel")
		.text.about__text
			p Cовременный отель в Минске на пересечении улиц имени Ленина и Октябрьской, где гармонично соседствуют история и современность, события уникального прошлого и яркого настоящего
