section(class='apartaments')
	.container.apartaments__container 
		h1(class='title title--color-black apartaments__title') Номера #[span &] <br> апартаменты
		button.button.button--primary.button--color-white.apartaments__button Смотреть все
		.gradient-line.gradient-line--light-2.apartaments__gradient-line
		.swiper
			.apartaments__list.swiper-wrapper
				.card-hotel.apartaments__card-hotel.swiper-slide
					.card-hotel__image 
						img(src="../images/card-image-1.png", alt="bed")
					p(class='text card-hotel__text') Классический одноместный <br> номер
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
				.card-hotel.apartaments__card-hotel.swiper-slide
					.card-hotel__image 
						img(src="../images/card-image-2.png", alt="bed")
					p(class='text card-hotel__text') Классический двухместный номер с одной кроватью
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
				.card-hotel.apartaments__card-hotel.swiper-slide
					.card-hotel__image 
						img(src="../images/card-image-3.png", alt="bed")
					p(class='text card-hotel__text') Классический двухместный номер с двумя кроватями
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
				.card-hotel.apartaments__card-hotel.swiper-slide
					.card-hotel__image 
						img(src="../images/card-image-1.png", alt="bed")
					p(class='text card-hotel__text') Классический одноместный <br> номер
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
		a.link.link--secondary.apartaments__link Смотреть все номера
		.gradient-line.gradient-line--gray-hor
