section.apartaments
	.container.apartaments__container 
		.apartaments__top
			h2(class='title title--color-black title--size-big apartaments__title') Номера #[span &] <br> апартаменты
			button.button.button--primary.button--size-big.button--color-white.apartaments__button Смотреть все
		.apartaments__bottom
			.apartaments__list
				.card-hotel.apartaments__card-hotel
					.card-hotel__image 
						img(src="../images/apartaments/card-image-1.png", alt="bed")
					.card-hotel__text
						p Классический одноместный <br> номер
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--size-big button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
				.card-hotel.apartaments__card-hotel
					.card-hotel__image 
						img(src="../images/apartaments/card-image-2.png", alt="bed")
					.card-hotel__text
						p Классический двухместный номер с одной кроватью
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--size-big button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
				.card-hotel.apartaments__card-hotel
					.card-hotel__image 
						img(src="../images/apartaments/card-image-3.png", alt="bed")
					.card-hotel__text
						p Классический двухместный номер с двумя кроватями
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--size-big button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
				.card-hotel.apartaments__card-hotel
					.card-hotel__image 
						img(src="../images/apartaments/card-image-1.png", alt="bed")
					.card-hotel__text
						p Классический одноместный <br> номер
					ul.card-hotel__conditions
						li.card-hotel__condition.card-hotel__condition--people 1 место
						li.card-hotel__condition.card-hotel__condition--bed  1 кровать
						li.card-hotel__condition.card-hotel__condition--area 20 м2
					button(class='button button--primary button--size-big button--color-white card-hotel__button') Забронировать #[span 146,2 BYN]
			a.link.link--secondary.apartaments__link Смотреть все номера
