section.details
	.container.details__container
		.details__photo
			img(src="../images/details/photo.png", alt="photo")
		.details__info
			h3.title.title--color-black.title--size-medium.details__title Внимание к деталям
			ul.details__list
				li.details__item
					.details__image 
						img(src="../images/details/statics1.svg", alt="img")
					.text.text--size-medium.text--color-gray.details__text
						p просторных и светлых номеров со всеми удобствами
				li.details__item
					.details__image 
						img(src="../images/details/statics2.svg", alt="img")
					.text.text--size-medium.text--color-gray.details__text
						p дизайнерские люксы, передающие свой уникальный стиль
			button.button.button--primary.button--size-big.button--color-white.details__button Посмотреть номера