section.hall-conference
	.container.hall-conference__container
		.hall-conference__top
			h2.title.title--color-white.title--size-big.hall-conference__title Переговорные #[span &] <br> конференц-залы
			.text.hall-conference__text  	
				p Проводите мероприятия любого уровня и&nbsp;масштаба, помещения от&nbsp;27 до&nbsp;90&nbsp;м2 и&nbsp;вместимостью до&nbsp;80&nbsp;человек работают круглосуточно

		.hall-conference__center 	
			nav.hall-conference__nav.tabs-nav
				.tabs-nav__list
					span.tabs-nav__item.is-active «Тренинг»	
					span.tabs-nav__item «Форум»
					span.tabs-nav__item «Willing» 
					span.tabs-nav__item Семинар
			.hall-conference__information
				.hall-conference__photo
					img(src="./images/hall-conference/hall-conference-image.png", alt="hall")
				.hall-conference__conditions 
					ul
						li Площадь #[span 45 м]
						li Вместимость #[span до 30 человек]
					p Гостевая парковка, мобильная расстановка&nbsp;мебели, два кондиционера, WiFi, современное презентационное оборудование, магнитный флип-чарт, кейтеринг-&nbsp;обслуживание, панорамные окна, возможность затемнения окон
				.hall-conference__buttons
					button.button.button--primary.button--size-big.button--color-black.hall-conference__button Забронировать
					button.button.button--primary.button--size-big.button--color-black.hall-conference__button Подробнее
		.hall-conference__bottom
			ul.hall-conference__benefits.benefits
				li.benefits__item
					img(src="./images/benefits/Support.png", alt="support") 
					span Постоянная поддержка и сопровождение
				li.benefits__item
					img(src="./images/benefits/Security.png", alt="security") 
					span Персональный комплекс охраны мероприятий
				li.benefits__item
					img(src="./images/benefits/WiFi.png", alt="wifi") 
					span Бесплатный Wi-Fi для вашей конференции
				li.benefits__item
					img(src="./images/benefits/Parking.png", alt="parking") 
					span Бесплатная парковка вокруг отеля
				li.benefits__item
					img(src="./images/benefits/Projector.png", alt="projector") 
					span Мультимедиа техника для презентаций
				li.benefits__item
					img(src="./images/benefits/Gift.png", alt="gift") 
					span Мебелирование, ведущие и кейтеринг		
			h3.title.title--size-medium.title--color-grey Нужно организовать мероприятие?
			p Возьмем на себя услуги кейтеринга, найдём необходимую аппаратуру и разработаем план действий
			button.button.button--primary.button--size-big.button--color-black.hall-conference__button Запросить консультацию
			.hall-conference__image
				img( src="./images/hall-conference/bottom-image.svg", alt="img")