section.hall-conference
	.container.hall-conference__container
		.hall-conference__top
			h1.title.title--color-white.hall-conference__title Переговорные #[span &] <br> конференц-залы
			.text.hall-conferece__text  	
				p Проводите мероприятия любого уровня и масштаба, помещения от 27 до 90 м2 и вместимостью до 80 человек работают круглосуточно
		.hall-conference__center
		.hall-conference__bottom