section.hall-conference
	.container.hall-conference__container
		.hall-conference__top
			h2.title.title--color-white.title--size-big.hall-conference__title Переговорные #[span &] <br> конференц-залы
			.text.hall-conference__text  	
				p Проводите мероприятия любого уровня и масштаба, помещения от 27 до 90 м2 и вместимостью до 80 человек работают круглосуточно
		nav.hall-conference__nav
			.hall-conference__list
				span.link.link--tertiary.hall-conference__link.hall-conference__link--active «Тренинг»	
				span.link.link--tertiary.hall-conference__link «Форум»
				span.link.link--tertiary.hall-conference__link «Willing» 
				span.link.link--tertiary.hall-conference__link Семинар
		.hall-conference__center 	
			.hall-conference__information
				.hall-conference__image
					img(src="./images/hall-conference/hall-conference-image.png", alt="hall")
				.hall-conference__conditions 
					ul
						li Площадь #[span 45 м]
						li Вместимость #[span до 30 человек]
					p Гостевая парковка, мобильная расстановка мебели, два кондиционера, WiFi, современное презентационное оборудование, магнитный флип-чарт, кейтеринг-обслуживание, панорамные окна, возможность затемнения окон
				.hall-conference__buttons
					button.button.button--primary.button--color-black.hall-conference__button Забронировать
					button.button.button--primary.button--color-black.hall-conference__button Подробнее
				ul.hall-conference__benefits.benefits
					li.benefits__item.benefits__item--support Постоянная поддержка и сопровождение
					li.benefits__item.benefits__item--security Персональный комплекс охраны мероприятий
					li.benefits__item.benefits__item--wifi Бесплатный Wi-Fi для вашей конференции
					li.benefits__item.benefits__item--parking Бесплатная парковка вокруг отеля
					li.benefits__item.benefits__item--projector Мультимедиа техника для презентаций
					li.benefits__item.benefits__item--gifts Мебелирование, ведущие и кейтеринг

		.hall-conference__bottom
			h3.title.title--size-medium.title--color-grey Нужно организовать мероприятие?
			p Возьмем на себя услуги кейтеринга, найдём необходимую аппаратуру и разработаем план действий
			button.button.button--primary.button--color-black.hall-conference__button Запросить консультацию