section.hall-conference
    .container.hall-conference__container
        .hall-conference__top
            h2.title.title--color-white.title--size-big.hall-conference__title Переговорные #[span &] <br> конференц-залы
            .text.text--size-medium.text--color-gray-black.hall-conference__text
                p Проводите мероприятия любого уровня и&nbsp;масштаба, помещения от&nbsp;27 до&nbsp;90&nbsp;м2 и&nbsp;вместимостью до&nbsp;80&nbsp;человек работают круглосуточно

        .hall-conference__center
            nav.hall-conference__nav.tabs-nav
                .tabs-nav__list
                    span.tabs-nav__item.tabs-nav__item--color-white.is-active «Тренинг»
                    span.tabs-nav__item.tabs-nav__item--color-white «Форум»
                    span.tabs-nav__item.tabs-nav__item--color-white «Willing»
                    span.tabs-nav__item.tabs-nav__item--color-white Семинар
            .hall-conference__information
                .hall-conference__photo
                    img(src="./images/hall-conference/hall-conference-image.png", alt="hall")
                .hall-conference__conditions
                    ul
                        li Площадь #[span 45 м]
                        li Вместимость #[span до 30 человек]
                    p Гостевая парковка, мобильная расстановка&nbsp;мебели, два кондиционера, WiFi, современное презентационное оборудование, магнитный флип-чарт, кейтеринг-&nbsp;обслуживание, панорамные окна, возможность затемнения окон
                .hall-conference__buttons
                    button.button.button--primary.button--size-big.button--color-black.hall-conference__button Забронировать
                    button.button.button--primary.button--size-big.button--color-black.hall-conference__button Подробнее
        .hall-conference__bottom
            ul.hall-conference__benefits.benefits
                li.benefits__item.benefits__item--hall-conference
                    img(src="./images/hall-conference/Support.png", alt="support")
                    span Постоянная поддержка и сопровождение
                li.benefits__item.benefits__item--hall-conference
                    img(src="./images/hall-conference/Security.png", alt="security")
                    span Персональный комплекс охраны мероприятий
                li.benefits__item.benefits__item--hall-conference
                    img(src="./images/hall-conference/WiFi.png", alt="wifi")
                    span Бесплатный Wi-Fi для вашей конференции
                li.benefits__item.benefits__item--hall-conference
                    img(src="./images/hall-conference/Parking.png", alt="parking")
                    span Бесплатная парковка вокруг отеля
                li.benefits__item.benefits__item--hall-conference
                    img(src="./images/hall-conference/Projector.png", alt="projector")
                    span Мультимедиа техника для презентаций
                li.benefits__item.benefits__item--hall-conference
                    img(src="./images/hall-conference/Gift.png", alt="gift")
                    span Мебелирование, ведущие и кейтеринга
            .hall-conference__consultation
                h3.title.title--size-medium.title--color-grey Нужно организовать мероприятие?
                p Возьмем на себя услуги кейтеринга, найдём необходимую аппаратуру и разработаем план действий
                button.button.button--primary.button--size-big.button--color-black.hall-conference__button Запросить консультацию
            .hall-conference__decorative
                img( src="./images/hall-conference/bottom-image.svg", alt="img")