section.health 
			li.about__item 
				.about__photo.about__photo--left
					img(src="../images/about/about4.png", alt="photo")
				.about__info
					h3.title.title--color-black.title--size-medium.about__title Оздоровительный центр Puzzle Health
					.text.text--size-big.text--color-gray
						p Предлагаем современные, эффективные, проверенные временем методики укрепления опорно-двигательного аппарата у детей и взрослых
					button.button.button--primary.button--size-big.button--color-white.about__button Узнать подробнее