header.header 
	.container.header__container 
		.header__left
			.select.header__select.header__select--language 
				.select__header 
					span(class="select__current") RU					
				.select__list 
					.select__item RU
					.select__item ENG
					.select__item BY
			.select.header__select.header__select--curency 
				.select__header 
					span(class="select__current") RUB					
				.select__list
					.select__item RUB
					.select__item BYN
					.select__item EUR 
					.select__item USD

			.header__phone
				a(class="header__link link link--primary" href="tel:+375293369016")  +375 29 336 90 16
				.social.header__social
					a(class="social__icon" href="viber://chat?number=%2B375293369016") 
						img(src="../images/social/viber.svg", alt="viber")
					a(class="social__icon" href="https://telegram.me/+375293369016") 
						img(src="../images/social/teleg.svg", alt="teleg")
					a(class="social__icon" href="https://wa.me/+375293369016") 
						img(src="../images/social/WhatsApp.svg", alt="WhatsApp")
		.header__center 
			img(src="../images/header/LogoBlack.svg", alt="logo")
		.header__right
			img( class="header__call icon" src="../images/header/phone.svg", alt="call")
			button(class="button button--secondary button--size-medium header__button header__button--desktop") Написать нам
			button(class="button button--secondary button--size-medium button--color-black header__button header__button--table ") Забронировать
			.hamburger.header__hamburger
				span(class ="hamburger__line" )
				span(class ="hamburger__line" )
	.header__menu
		.header__title
			h1(class="title title--size-big title--color-white") Отель мечты в центре Минска
			.gradient-line.gradient-line--black.header__gradient-line
		nav(class="nav header__nav") 
			.nav__item.d-none--size-desktop
				a(class="link link--primary nav__link" href="tel:+375293369016")  +375 29 336 90 16
				.social.nav__social
					a(class="social__icon" href="viber://chat?number=%2B375293369016") 
						img(src="../images/social/viber.svg", alt="viber")
					a(class="social__icon" href="https://telegram.me/+375293369016") 
						img(src="../images/social/teleg.svg", alt="teleg")
					a(class="social__icon" href="https://wa.me/+375293369016") 
						img(src="../images/social/WhatsApp.svg", alt="WhatsApp")
			.nav__item.d-none--size-desktop
				a(class="link link--primary nav__link" href="#")  Написать нам
			.nav__item.d-none--size-table
				a(class="link link--primary nav__link " href="#")  Забронировать номер
			.nav__item
				a(class="link link--primary nav__link" href="#")  Номера и апартаменты
			.nav__item
				a(class="link link--primary nav__link" href="#")  Конференц-залы
			.nav__item
				a(class="link link--primary nav__link" href="#")  О нас
			.nav__item
				a(class="link link--primary nav__link" href="#")  Наша история
			.nav__item
				a(class="link link--primary nav__link" href="#")  Акции и спецпредложения
			.nav__item
				a(class="link link--primary nav__link" href="#")  Контакты
			.nav__item 
				a(class="link link--primary nav__link" href="#")  3D-тур
		.tabs.header__tabs
			button(class='tabs__button tabs__button--active') RU
			button(class='tabs__button') ENG
			button(class='tabs__button') BY
		.tabs
			button(class='tabs__button tabs__button--active') RUB
			button(class='tabs__button') BYN
			button(class='tabs__button') EUR
			button(class='tabs__button') USD



		