section.health 
	.container.health__container
		.health__photo
			img(src="../images/about/about4.png", alt="photo")
		.health__info
			h3.title.title--color-black.title--size-medium.health__title Оздоровительный центр Puzzle Health
			.text.text--size-medium.text--color-gray.health__text
				p Предлагаем современные, эффективные, проверенные временем методики укрепления опорно-двигательного аппарата у детей и взрослых
			button.button.button--primary.button--size-big.button--color-white.health__button Узнать подробнее