main.main
	.container.main__top
		h2(class="title main__title title--size-big title--color-white") Отель мечты в&nbsp;центре&nbsp;Минска
	.container.main__bottom
		.main__image
			img(src="../images/main/hotel.png", alt="hotel")
		.text.main__text
			p Cовременный отель в Минске на пересечении улиц имени Ленина и Октябрьской, где гармонично соседствуют история и современность, события уникального прошлого и яркого настоящего
