section.services
				li.about__item 	
				h3.title.title--color-black.title--size-medium.about__title Сервисы и удобства
				.text.text--size-big.text--color-gray
					p В нашем отеле вы&nbsp;найдете всё, что нужно для&nbsp;комфортного отдыха
				ul.about__benefits.benefits
					li.benefits__item
						img(src="./images/about/Security.svg", alt="support") 
						h4.title.title--size-medium.title--color-black.benefits__title Охрана
						span Круглосуточная охрана на&nbsp;входной группе и&nbsp;система сигнализации по&nbsp;всему периметру
					li.benefits__item
						img(src="./images/about/Service.svg", alt="security") 
						h4.title.title--size-medium.title--color-black.benefits__title Ремонт и&nbsp;обслуживание
						span Замена ламп, слесарный и&nbsp;сантехнический сервис, мелкий ремонт мебели по&nbsp;запросу
					li.benefits__item
						img(src="./images/about/Laundry.svg", alt="wifi") 
						h4.title.title--size-medium.title--color-black.benefits__title Прачечная
						span Круглосуточная уборка номеров, стирка и&nbsp;глажка ваших вещей
					li.benefits__item
						img(src="./images/about/Parking.svg", alt="parking") 
						h4.title.title--size-medium.title--color-black.benefits__title Парковка
						span Вокруг отеля расположены парковочные места на&nbsp;40&nbsp;машин
					li.benefits__item
						img(src="./images/about/Eat.svg", alt="projector") 
						h4.title.title--size-medium.title--color-black.benefits__title Организация питания
						span Завтраки для&nbsp;всех посетителей гостиницы&nbsp;— шведский стол от&nbsp;ресторана Simple
					li.benefits__item
						img(src="./images/about/WiFi.svg", alt="gift") 
						h4.title.title--size-medium.title--color-black.benefits__title Интернет
						span Работает на&nbsp;всей территории отеля, доступ можно запросить на&nbsp;рецепции