section.services
	.container.services__container
		.services__info
			h3.title.title--color-black.title--size-medium.services__title Сервисы и удобства
			.text.text--size-medium.text--color-gray.services__text
				p В нашем отеле вы&nbsp;найдете всё, что нужно для&nbsp;комфортного отдыха
		ul.services__benefits.benefits
			li.benefits__item.benefits__item--services
				img(src="./images/services/Security.svg", alt="support") 
				.benefits__info
					h4.title.title--size-small.title--color-black.benefits__title Охрана
					span Круглосуточная охрана на&nbsp;входной группе и&nbsp;система сигнализации по&nbsp;всему периметру
			li.benefits__item.benefits__item--services
				img(src="./images/services/Service.svg", alt="security")
				.benefits__info 
					h4.title.title--size-small.title--color-black.benefits__title Ремонт и&nbsp;обслуживание
					span Замена ламп, слесарный и&nbsp;сантехнический сервис, мелкий ремонт мебели по&nbsp;запросу
			li.benefits__item.benefits__item--services
				img(src="./images/services/Laundry.svg", alt="wifi") 
				.benefits__info
					h4.title.title--size-small.title--color-black.benefits__title Прачечная
					span Круглосуточная уборка номеров, стирка и&nbsp;глажка ваших вещей
			li.benefits__item.benefits__item--services
				img(src="./images/services/Parking.svg", alt="parking") 
				.benefits__info
					h4.title.title--size-small.title--color-black.benefits__title Парковка
					span Вокруг отеля расположены парковочные места на&nbsp;40&nbsp;машин
			li.benefits__item.benefits__item--services
				img(src="./images/services/Eat.svg", alt="projector") 
				.benefits__info
					h4.title.title--size-small.title--color-black.benefits__title Организация питания
					span Завтраки для&nbsp;всех посетителей гостиницы&nbsp;— шведский стол от&nbsp;ресторана Simple
			li.benefits__item.benefits__item--services
				img(src="./images/services/WiFi.svg", alt="gift") 
				.benefits__info
					h4.title.title--size-small.title--color-black.benefits__title Интернет
					span Работает на&nbsp;всей территории отеля, доступ можно запросить на&nbsp;рецепции