.about {
  &__background-image {
    display: none;
    z-index: 1;
  }
  &__item {
    display: block;
    & + & {
      margin-top: 80px;
    }
  }
  &__text {
    @media (max-width: $sizeMaxMobile) {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &__photo {
    overflow: hidden;
    position: relative;
    height: 67.5vw;
    @media (max-width: $sizeMaxMobile) {
      margin: 0 -20px 32px;
    }
    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  &__title {
    margin-bottom: 22px;
  }
  &__button {
    margin-top: 40px;
    @media (max-width: $sizeMaxMobile) {
      width: 100%;
    }
  }
  &__info {
    max-width: 650px;
  }

  @media (min-width: $sizeTablet) {
    padding-top: 120px;
    &__container {
      position: relative;
    }
    &__background-image {
      display: block;
      position: absolute;
      top: -120px;
      right: 0;
      width: 50.5%;
    }
    &__item {
      position: relative;
      & + & {
        margin-top: 120px;
      }
    }
    &__photo {
      display: inline-block;
      vertical-align: middle;
      &--left {
        margin-left: -40px;
        height: 26.5vw;
        width: calc(50% + 46px);
      }
      &--right {
        width: 50%;
        height: 34.9vw;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__info {
      display: inline-block;
      vertical-align: middle;
      &--right {
        width: calc(50% - 6px);
        padding-left: 32px;
      }
      &--left {
        height: 34.9vw;
        width: 50%;
      }
    }
  }

  @media (min-width: $sizeDesktop) {
    padding-top: 150px;
    &__background-image {
      width: 50.5%;
    }
    &__item {
      & + & {
        margin-top: 148px;
      }
    }
    &__photo {
      &--left {
        margin-left: 0;
        height: 26.67vw;
        width: calc(50% + 10px);
        max-height: 400px;
      }
      &--right {
        right: 0;
        height: 26.67vw;
        width: calc(50% - 64px);
        max-height: 400px;
      }
    }
    &__info {
      &--right {
        width: calc(50% - 10px);
        padding-left: 54px;
      }
      &--left {
        width: 50%;
        padding-right: 48px;
        height: 26.67vw;
        max-height: 400px;
      }
    }
    &__button {
      margin-top: 48px;
    }
  }
}
