.apartaments {
  padding-top: 48px;
  padding-bottom: 24px;
  &::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #e0e0e0 0%, #f2f2f2 100%);
  }
  &__top {
    position: relative;
  }
  &__list {
    padding: 0 20px 24px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 -20px 12px;
  }
  &__card-hotel {
    white-space: normal;
    display: inline-block;
    width: 272px;
    & + & {
      margin-left: 16px;
    }
  }
  &__link {
    width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #c0bfbf;
  }
  &__button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__bottom {
    margin-bottom: 80px;
    padding-top: 16px;
    &::before {
      display: block;
      content: "";
      height: 4px;
      width: 100%;
      background: linear-gradient(90deg, #e0e0e0 0%, #f2f2f2 100%);
      margin-bottom: 32px;
    }
  }
}

@media (min-width: $sizeTablet) {
  .apartaments {
    padding-top: 56px;
    &__card-hotel {
      width: 312px;
      & + & {
        margin-left: 36px;
      }
    }
    &__link {
      display: none;
    }
    &__list {
      margin-bottom: 94px;
      margin: 0 -40px;
      padding: 0px 40px 24px;
    }
    &__button {
      display: inline-block;
    }
    &__bottom {
      padding-top: 24px;
      margin-bottom: 100px;
      &::before {
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: $sizeDesktop) {
  .apartaments {
    padding-top: 64px;
    &__list {
      &::before {
        margin-bottom: 48px;
      }
      margin: 0 -96px;
      padding: 0px 96px 24px;
    }
    &__bottom {
      &::before {
        margin-bottom: 48px;
      }
    }
  }
}
