.hall-conference {
  overflow-x: hidden;
  padding-top: 48px;
  background-color: #121212;
  padding-bottom: 80px;
  &__top {
    margin-bottom: 48px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    p {
      color: #828282;
    }
  }
  &__center {
    margin-bottom: 48px;
  }
  &__nav {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
    &::after {
      left: -7%;
      right: -7%;
    }
  }
  &__photo {
    position: relative;
    height: 75vw;
    overflow: hidden;
    margin: 0 -6.7%;
    background-color: #121212;
    z-index: 1;
    margin-bottom: 24px;
    img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }
  &__conditions {
    margin-bottom: 24px;
    * {
      color: #bdbdbd;
      font-size: 14px;
      line-height: 20px;
    }
    ul {
      margin-bottom: 16px;
    }
    li {
      display: inline-block;
      color: #828282;
      &:first-child {
        margin-right: 48px;
      }
    }
    span {
      margin-top: 8px;
      display: block;
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__benefits {
    @media (max-width: $sizeMaxMobile) {
      padding-bottom: 8px;
      margin-bottom: 40px;
    }
  }
  &__buttons {
    margin-bottom: 48px;
    button + button {
      border: none;
      @media (max-width: $sizeMaxMobile) {
        margin-top: 8px;
      }
    }
  }
  &__button {
    @media (max-width: $sizeMaxMobile) {
      width: 100%;
    }
  }
  &__bottom {
    position: relative;
    h3 {
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      margin-bottom: 32px;
    }
  }
  &__image {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 55%;
    img {
      width: 100%;
    }
  }
}

@media (min-width: $sizeTablet) {
  .hall-conference {
    padding-top: 66px;
    padding-bottom: 120px;
    &__top {
      margin-bottom: 64px;
    }
    &__title {
      margin-bottom: 0;
      margin-right: 7%;
      display: inline-block;
    }
    &__text {
      color: #bdbdbd;
      margin-bottom: 0;
      display: inline-block;
      max-width: 41%;
    }
    &__center {
      position: relative;
      padding-left: 50%;
    }
    &__nav {
      margin-bottom: 28px;
      &::after {
        left: -12%;
        right: -12%;
      }
    }
    &__list {
      display: inline-block;
      margin-right: 40px;
    }
    &__photo {
      position: absolute;
      left: 0;
      width: 45%;
      top: 0;
      height: 29vw;
      box-shadow: 0 0 12px hsl(0deg 0% 100% / 15%);
      margin: 0;
      img {
        margin: 0;
      }
    }
    &__conditions {
      display: inline-block;
      margin-bottom: 28px;
    }
    &__benefits {
      margin-bottom: 34px;
    }
    &__bottom {
      p {
        font-size: 20px;
        line-height: 28px;
        max-width: 378px;
        margin-bottom: 40px;
      }
    }
    &__image {
      display: block;
    }
  }
}

@media (min-width: $sizeDesktop) {
  .hall-conference {
    &__top {
      padding-bottom: 64px;
    }
    &__title{
      margin-right: 10%;
    }
    &__photo{
      height: 380px;
    }
  }
}
