.hall-conference {
  overflow-x: hidden;
  padding-top: 48px;
  background-color: #121212;
  padding-bottom: 80px;
  &__top {
    margin-bottom: 48px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    p {
      color: #828282;
    }
  }

  &__center {
    margin-bottom: 48px;
  }
  &__nav {
    width: calc(100% + 40px);
    position: relative;
    margin-bottom: 24px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background: #828282;
      bottom: -2px;
      @media (max-width: $sizeMaxMobile) {
      margin: 0 -6%;
      }
    }
  }
  &__list {
    margin: 0 auto;
    padding-bottom: 12px;
    @media (max-width: $sizeMaxMobile) {
      width: 360px;
    }
  }

  &__link {
    position: relative;
    &--active {
      color: #fff;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: #bdbdbd;
        left: 0;
        color: #bdbdbd;
        top: 28px;
        z-index: 2;
      }
    }
    & + & {
      margin-left: 24px;
    }
  }

  &__image {
    z-index: 5;
    width: 320px;
    height: 240px;
    margin-bottom: 24px;
    img {
      margin: 0 -20px;
      width: 100%;
      height: 100%;
    }
  }
  &__conditions {
    margin-bottom: 24px;
    * {
      color: #bdbdbd;
      font-size: 14px;
      line-height: 20px;
    }
    ul {
      margin-bottom: 16px;
    }
    li {
      display: inline-block;
      color: #828282;
      &:first-child {
        margin-right: 48px;
      }
    }
    span {
      margin-top: 8px;
      display: block;
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__buttons {
    margin-bottom: 48px;
    button + button {
      border: none;
      @media (max-width: $sizeMaxMobile) {
        margin-top: 8px;
        }
     
      
    }
  }
  &__button {
    width: 100%;
  }
  &__bottom {
    h3 {
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: $sizeTablet) {
  .hall-conference {
    padding-top: 68px;
    &__top {
      margin-bottom: 56px;
    }
    &__title {
      margin-bottom: 0;
      margin-right: 50px;
      display: inline-block;
    }
    &__text {
      color: #bdbdbd;
      margin-bottom: 0;
      display: inline-block;
      max-width: 346px;
    }
    &__center{
      position: relative;
      padding-left: 50%;
    }
    &__nav {
      text-align: right;
      width: calc(100% + 40px);
      margin-bottom: 28px;
    }
    &__list {
      display: inline-block;
      margin-right: 40px;
    }
    &__image {
      position: absolute;
      top: -60px;
      left: 0;
      filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.15));
      width: 312px;
      height: 223px;
      display: inline-block;
      margin: 0;
      img {
        margin: 0;
      }
    }
    &__conditions {
      display: inline-block;
      max-width: 344px;
      margin-bottom: 28px;
    }
    &__button{
      width: 50%;
    }
  }
}

@media (min-width: $sizeDesktop) {
  .hall-conference {
    &__top {
      padding-bottom: 64px;
    }
  }
}
