.hall-conference {
  overflow-x: hidden;
  padding-top: 48px;
  background-color: #121212;
  padding-bottom: 80px;
  &__top {
    margin-bottom: 48px;
  }
  &__title {
    @media (max-width: $sizeMaxMobile) {
      margin-bottom: 24px;
    }
  }
  &__text {
    p {
      color: #828282;
    }
  }
  &__center {
    margin-bottom: 48px;
  }
  &__nav {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    &::after {
      left: -7%;
      right: -7%;
    }
  }
  &__photo {
    position: relative;
    height: 75vw;
    overflow: hidden;
    margin: 0 -6.7%;
    background-color: #121212;
    z-index: 1;
    margin-bottom: 24px;
    img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }
  &__conditions {
    margin-bottom: 24px;
    * {
      color: #bdbdbd;
      font-size: 14px;
      line-height: 20px;
    }
    ul {
      margin-bottom: 16px;
    }
    li {
      display: inline-block;
      color: #828282;
      &:first-child {
        margin-right: 48px;
      }
    }
    span {
      margin-top: 8px;
      display: block;
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__benefits {
    @media (max-width: $sizeMaxMobile) {
      padding-bottom: 8px;
      margin-bottom: 46px;
    }
  }
  &__buttons {
    button + button {
      border: none;
      @media (max-width: $sizeMaxMobile) {
        margin-top: 8px;
      }
    }
  }
  &__button {
    @media (max-width: $sizeMaxMobile) {
      width: 100%;
    }
  }
  &__bottom {
    position: relative;
  }
  &__consultation {
    h3 {
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #828282;
      margin-bottom: 32px;
    }
  }
  &__image {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -115px;
    width: 55%;
    img {
      width: 100%;
    }
  }
}

@media (min-width: $sizeTablet) {
  .hall-conference {
    padding-top: 66px;
    padding-bottom: 115px;
    &__top {
      margin-bottom: 66px;
    }
    &__title {
      width: 50%;
      display: inline-block;
    }
    &__text {
      color: #bdbdbd;
      margin-bottom: 0;
      display: inline-block;
      width: 50%;
    }
    &__center {
      position: relative;
      padding-left: 50%;
      margin-bottom: 56px;
    }
    &__nav {
      margin-bottom: 28px;
      position: relative;
      &::before {
        content: "";
        display: block;
        height: 4px;
        background: linear-gradient(90deg, #828282 0%, #121212 100%);
        position: absolute;
        left: 100%;
        right: -12%;
        bottom: 3px;
      }
      &::after {
        left: -12%;
        right: 0%;
      }
    }
    &__list {
      display: inline-block;
      margin-right: 40px;
    }
    &__photo {
      max-height: 300px;
      position: absolute;
      left: 0;
      width: 45%;
      top: 0;
      height: 29vw;
      box-shadow: 0 0 12px hsl(0deg 0% 100% / 15%);
      margin: 0;
      img {
        margin: 0;
      }
    }
    &__button {
      & + & {
        margin-left: 16px;
      }
    }
    &__conditions {
      display: inline-block;
      margin-bottom: 19px;
      span {
        margin-top: 8px;
        display: block;
        font-size: 24px;
        line-height: 32px;
      }
    }
    &__benefits {
      margin-bottom: 37px;
      max-width: 750px;
      margin-right: -10%;
    }
    &__consultation {
      p {
        font-size: 20px;
        line-height: 28px;
        max-width: 378px;
        margin-bottom: 40px;
      }
    }
    &__image {
      display: block;
    }
  }
}

@media (min-width: $sizeDesktop) {
  .hall-conference {
    padding-bottom: 143px;
    padding-top: 64px;
    &__container {
      position: relative;
    }
    &__title {
      margin-right: 50px;
    }
    &__text {
      width: 45%;
      font-size: 16px;
      line-height: 24px;
    }
    &__nav {
      &::before {
        right: -20%;
      }
      &::after {
        left: -24%;
      }
    }
    &__center {
      padding-left: 55%;
      margin-bottom: 150px;
    }
    &__conditions {
      margin-bottom: 33px;
    }
    &__photo {
      max-height: 328px;
    }
    &__button {
      & + & {
        margin-left: 24px;
      }
    }
    &__bottom {
      position: static;
    }
    &__benefits {
      margin: 0;
      position: absolute;
      bottom: -7.5%;
      right: 0%;
      max-width: 600px;
      border-left: 4px solid #4f4f4f;
      border-top: 4px solid #4f4f4f;
      border-radius: 40px 0 0 0;
      padding: 56px 46px 0;
      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
      }
      &::before {
        background: linear-gradient(
          270deg,
          hsla(0, 0%, 100%, 0),
          #121212 0.01%,
          #4f4f4f
        );
        height: 4px;
        left: 40%;
        right: -15%;
        top: -4px;
      }
      &::after {
        transform: rotate(180deg);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #121212 0.01%,
          #4f4f4f 100%
        );
        width: 4px;
        left: -4px;
        top: 40%;
        bottom: -15%;
      }
    }
    &__consultation {
      h3 {
        max-width: 456px;
      }
      p {
        max-width: 430px;
        margin-bottom: 48px;
      }
    }
    &__image {
      display: none;
    }
  }
}
