.history {
  z-index: 1;
  padding-top: 80px;
  &__container{
    overflow: hidden;
  }
  &__top{
    position: relative;
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }
  &__follow-up {
    vertical-align: middle;
    display: inline-block;
  }
  &__tabs-nav {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
    &::after {
      background-color: #bdbdbd;
    }
  }
  &__list {
    padding: 0 20px 12px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 -20px 12px;
  }
  &__card {
    display: inline-block;
    white-space: normal;
    & + & {
      margin-left: 16px;
    }
  }
  &__link {
    width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #c0bfbf;
  }
  &__bottom{
    margin-top: 32px;
  }
  &__button{
    height: 52px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    @media (max-width:$sizeMaxMobile) {
      display: none;      
    }
  }
  @media (min-width: $sizeTablet) {
    padding-top: 120px;
    &__card {
      & + & {
        margin-left: 24px;
      }
    }
    &__top{
      padding: 7px 0;
    }
    &__list {
      padding: 0 40px 12px;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0 -40px 0;
    }
    &__link{
      display: none;
    }
    &__bottom{
      margin-top: 40px;
    }
  }
  @media (min-width: $sizeDesktop) {
    padding-top: 148px;
    &__top{
      padding: 0;
    }
  }
}
