.services {
  padding-top: 80px;
  &__title {
    margin-bottom: 24px;
  }
  &__info {
    margin-bottom: 48px;
  }
  @media (min-width: $sizeTablet) {
    padding-top: 126px;
    &__info {
      margin-bottom: 56px;
      max-width: 350px;
    }
  }
  @media (max-width: $sizeMaxTablet) {
    &__info {
      max-width: 344px;
    }
    &__benefits {
      max-width: 700px;
    }
  }
  @media (min-width: $sizeDesktop) {
    padding-top: 164px;
    &__info {
      display: inline-block;
      vertical-align: middle;
      max-width: none;
      width: 50%;
      margin: 0;
      padding-right: 64px;
    }
    &__services {
      display: inline-block;
    }
    &__benefits {
      width: 50%;
      position: relative;
      display: inline-block;
      max-height: 340px;
      overflow-x: hidden;
      overflow-y: scroll;
      vertical-align: middle;
      padding-top: 44px;
      padding-left: 64px;
      border-top: 4px solid #f2f2f2;
      border-left: 4px solid #f2f2f2;
      border-radius: 40px 0 0 0;
      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
      }
      &::before {
        background: linear-gradient(
          270deg,
          hsla(0, 0%, 100%, 0),
          #121212 0.01%,
          #4f4f4f
        );
        height: 4px;
        left: 40%;
        right: -15%;
        top: -4px;
      }
      &::after {
        transform: rotate(180deg);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #121212 0.01%,
          #4f4f4f 100%
        );
        width: 4px;
        left: -4px;
        top: 40%;
        bottom: -15%;
      }
    }
  }
}
